<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:ipf="http://openehealth.org/schema/ipf-commons-core"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/lang
http://www.springframework.org/schema/lang/spring-lang.xsd
http://camel.apache.org/schema/spring
http://camel.apache.org/schema/spring/camel-spring.xsd
http://openehealth.org/schema/ipf-commons-core
http://openehealth.org/schema/ipf-commons-core.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <camel:camelContext id="camelContext">
        <camel:jmxAgent id="agent" disabled="true"/>
        <camel:routeBuilder ref="routeBuilder"/>
        <camel:restConfiguration bindingMode="auto" component="restlet" port="8069"/>
    </camel:camelContext>

    <camel:endpoint id="output" uri="file:target/output"/>

    <camel:endpoint id="msgHistory" uri="sql:insert into msg_history (type, hospital_number, visit_id) values (:#triggerEvent, 234568, :#visitNameString)"/>

    <bean id="routeBuilder" class="uk.co.neovahealth.ARNIE.ADTRouting"/>

    <bean id="routingSlip" class="uk.co.neovahealth.ARNIE.ComputeRoutingSlip"/>

    <bean id="eObsCalls" class="uk.co.neovahealth.ARNIE.eObsCalls" />
    <bean id="eObsQueries" class="uk.co.neovahealth.ARNIE.eObsQueries" />

	<ipf:globalContext id="globalContext"/>

    <bean id="mappingService"
          class="org.openehealth.ipf.commons.map.BidiMappingService">
          <property name="mappingScript" value="classpath:/tutorial.map"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="net.sf.log4jdbc.DriverSpy"/>
        <property name="url" value="jdbc:log4jdbc:postgresql://localhost:5432/nhadt"/>
        <property name="username" value="nhadt"/>
        <property name="password" value="nhadt"/>
    </bean>

    <bean id="sql" class="org.apache.camel.component.sql.SqlComponent">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="brokerURL" value="vm://amq-broker"/>
        <!--<property name=""-->
    </bean>
    
    <bean id="amq-broker" class="org.apache.activemq.xbean.BrokerFactoryBean">
        <property name="config" value="broker-config.xml"/>
        <property name="start" value="true"/>
    </bean>

    <bean id="myCustomRules" class="uk.co.neovahealth.ARNIE.SampleRulesBuilder"/>


</beans>

